<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")

    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <!-- END DATEPICKER CSS-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Artiklar", "Index", "Articles", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Kunder", "Index", "Customers", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Levadress", "Index", "ShippingAddresses", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Fakuror", "Index", "BillingAddresses", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("OrderLines", "Index", "OrderLines", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Orders", "Index", "Orders", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/SiteJs.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
