@model IEnumerable<DataTablesInlineUpdate.Models.OrderLine>
@*<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>*@
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').DataTable({
            dom: 'B<"clear"><lf<t>ip>',
            buttons: [
            {
                extend: 'copy',
                text: 'Kopiera',
            },
            {
                extend: 'excel',
                text: 'Excel',
                exportOptions: {
                    modifier: { page: 'current' }
                },
            },
            {
                extend: 'csv',
                text: 'Csv',
                exportOptions: {
                    modifier: { page: 'current' }
                },
            },
            {
                extend: 'pdf',
                text: 'Pdf'
            },
            ],
            "language": {
                "lengthMenu": "Visa _MENU_ rader per sida",
                "zeroRecords": "Din sökning gav inget - försök med ett annat sökord",
                "info": "Visar nu _PAGE_ av _PAGES_",
                "infoEmpty": "Datatabellen är tom",
                "infoFiltered": "(filtrerdad på _MAX_ antal poster)"
            },
            "processing": true,
            "order": [[0, "desc"]], //Column1
        })
        //var table = $('#myTable').DataTable();
        //var expdata = table.buttons.exportData();
    });

</script>




<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article.ArticleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickedNumberOfItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.TextBoxFor(modelItem => item.Article.ArticleNumber)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.NumberOfItems)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.PickedNumberOfItems)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.DeliveryDate)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderLineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderLineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderLineId })
        </td>
    </tr>
}

</table>
